<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oasis">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="호남담은 집"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Oasis"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name=".BlogSelectedLocationActivity"
            android:theme="@style/Transparent" />
        <activity android:name=".RecommendListDetailActivity" />
        <activity android:name=".BlogListDetailActivity" />
        <activity android:name=".BlogWriteActivity" />
        <activity android:name=".DetailLocationActivity" />
        <activity
            android:name=".DetailLocationListActivity"
            android:theme="@style/Transparent" />
        <activity android:name=".CourseActivity" />
        <activity android:name=".CourseListActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MemberActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>